<div id="<%= dom_id channel %>">
  <p>
    <strong>Description:</strong>
    <%= channel. description %>
  </p>

  <p>
    <strong>Channel cost:</strong>
    <%= channel. channel_cost %>
  </p>

  <p>
    <strong>Channel type:</strong>
    <%= channel. channel_type %>
  </p>

</div>
