<p style="color: green"><%= notice %></p>

<% content_for :title, "Canais" %>

<h1>Channels</h1>

<%= link_to "Novo Canal", new_channel_path, class: 'standart-button' %>

<div id="channels">
  <% @channels.each do |channel| %>
    <%= render channel %>
    <p>
      <%= link_to "Mostrar", channel %>
    </p>
  <% end %>
</div>