<main class="index-container">
  <% content_for :title, "Novo Canal" %>

  <h1>Novo Canal</h1>

  <%= render "form", channel: @channel %>

  <div class="mt-3">
    <%= link_to "Voltar", channels_path, class: "standart-button" %>
  </div>
</main>