<main class="logged-system">
  <% content_for :title, "Editing client" %>

  <h1>Editar Cliente</h1>

  <%= render "form", system_admins_client: @system_admins_client %>

  <br>

  <div>
    <%= link_to "Ver", @system_admins_client %> |
    <%= link_to "Voltar", system_admins_clients_path %>
  </div>
</main>