<% content_for :title, "New client" %>

<h1>New client</h1>

<%= render "form", system_admins_client: @system_admins_client %>

<br>

<div>
  <%= link_to "Back to clients", system_admins_clients_path %>
</div>
