<!-- app/views/system_admins/user_admins/_user_admin.html.erb -->
<div class="user-admin">
  <p><strong>Nome:</strong> <%= user_admin.full_name %></p>
  <p><strong>E-mail:</strong> <%= user_admin.email %></p>
  <p><strong>Telefone:</strong> <%= user_admin.phone %></p>
  <p><strong>Admin geral?:</strong> <%= user_admin.admin ? "Sim" : "Não" %></p>
</div>