<p style="color: green"><%= notice %></p>

<%= render @system_admins_user_admin %>

<div>
  <%= link_to "Editar usuário", edit_system_admins_user_admin_path(@system_admins_user_admin) %> |
  <%= link_to "Voltar", system_admins_user_admins_path %>
</div>
