<% content_for :title, "Editing package composition" %>

<h1>Editing package composition</h1>

<%= render "form", package_composition: @package_composition %>

<br>

<div>
  <%= link_to "Show this package composition", @package_composition %> |
  <%= link_to "Back to package compositions", package_compositions_path %>
</div>
