<p style="color: green"><%= notice %></p>

<% content_for :title, "Package compositions" %>

<h1>Package compositions</h1>

<div id="package_compositions">
  <% @package_compositions.each do |package_composition| %>
    <%= render package_composition %>
    <p>
      <%= link_to "Show this package composition", package_composition %>
    </p>
  <% end %>
</div>

<%= link_to "New package composition", new_package_composition_path %>
