<% content_for :title, "New package composition" %>

<h1>New package composition</h1>

<%= render "form", package_composition: @package_composition %>

<br>

<div>
  <%= link_to "Back to package compositions", package_compositions_path %>
</div>
