<% content_for :title, "Editing role" %>

<h1>Editar Função <i><%= @role.description %></i></h1>

<%= render "form", role: @role %>

<br>

<div>
  <%= link_to "<- Voltar", services_roles_path %>
</div>