<% content_for :title, "Maxximiza | Nova função" %>

<h1>Nova Função</h1>

<%= render "form", role: @role %>

<br>

<div>
  <%= link_to "<- Voltar", services_roles_path, class: "standart-button" %>
</div>
