<div style="background-color: #16160b;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;">
  <%= image_tag 'banner.jpg', alt: 'Publicidade da marca' %>
</div>