<main class="index-container">
    <% content_for :title, action_name == "new" ? "Novo profissional" : "Editar profissional" %>
    <h1><%= yield :title %></h1>

    <%= render "form", professional: @professional %>

    <br>
    <%= link_to "Voltar", services_professionals_path %>
</main>