<% content_for :title, "Maxximiza | Editar Meta de Venda" %>

<h1>Editar Meta de Venda</h1>

<%= render "form", sales_target: @sales_target %>

<br>

<div>
  <%= link_to "Mostrar", @sales_target %> |
  <%= link_to "Voltar", sales_targets_path %>
</div>
