<% content_for :title, "Maxximiza | Nova meta de vendas" %>

<h1>Nova meta de vendas</h1>

<%= render "form", sales_target: @sales_target %>

<br>

<div>
  <%= link_to "Voltar", sales_targets_path, class: "action-button" %>
</div>
