<h3>Editar Composição do Subproduto</h3>

<%= turbo_frame_tag "compositions" do %>
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th>Insumo</th>
        <th>Quantidade (g)</th>
        <th>Custo da Quantidade (R$)</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @subproduct.subproduct_compositions.each do |composition| %>
        <%= render partial: "subproducts/subproduct_compositions_fields", locals: { subproduct_composition: composition } %>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="my-3">
  <%= button_to "Adicionar Insumo", subproduct_subproduct_compositions_path(@subproduct), 
    method: :post,
    data: { turbo_stream: true },
    class: "action-button" %>
  </div>
<br>

<%= link_to "Finalizar Cadastro", subproducts_path, class: "standart-button" %>
