<div id="<%= dom_id energy %>">
  <p>
    <strong>Descrição:</strong>
    <%= energy.description %>
  </p>

  <p>
    <strong>Consumo por hora:</strong>
    <%= energy.consume_per_hour %>
  </p>

</div>
