<main class="index-container">
  <% content_for :title, "Maxximiza | Serviços | Editar Energia" %>

  <h1>Editar Energia</h1>

  <%= render "form", energy: @energy %>

  <br>

  <div>
    <%= link_to "Voltar", clients_services_energies_path, class: "action-button" %>
  </div>
</main>