<main class="index-container">
    <% content_for :title, "Maxximiza | Serviços | Nova Energia" %>

    <h1>Nova Energia</h1>

    <%= render "form", energy: @energy %>

    <%= link_to "Voltar para Energias", clients_services_energies_path, class: "action-button" %>
</main>