<p style="color: green"><%= notice %></p>

<% content_for :title, "Client plans" %>

<h1>Client plans</h1>

<div id="system_admins_client_plans">
  <% @system_admins_client_plans.each do |system_admins_client_plan| %>
    <%= render system_admins_client_plan %>
    <p>
      <%= link_to "Show this client plan", system_admins_client_plan %>
    </p>
  <% end %>
</div>

<%= link_to "New client plan", new_system_admins_client_plan_path %>
