<% content_for :title, "Editing service" %>

<h1>Editing service</h1>

<%= render "form", service: @service %>

<br>

<div>
  <%= link_to "Voltar", clients_services_services_path %> |
  <%= link_to "Ver", clients_services_service_path(@service) %>
</div>
