<main class="index-container">
  <% content_for :title, "Editing service" %>

  <h1 class="title">Editar serviço</h1>
</main>

<%= render "form", service: @service %>

<br>

<div class="index-container">
  <%= link_to "Voltar", clients_services_services_path %> |
</div>