<main class="index-container">
    <h1 class="title">Novo Serviço</h1>
</main>
<%= render "form", service: @service %>
<div class="index-container">
    <%= link_to "Voltar", clients_services_services_path, class: "action-button" %>
</div>