<% content_for :title, "Editing banner" %>

<h1>Editing banner</h1>

<%= render "form", system_admins_banner: @system_admins_banner %>

<br>

<div>
  <%= link_to "Show this banner", @system_admins_banner %> |
  <%= link_to "Back to banners", system_admins_banners_path %>
</div>
