<% content_for :title, "New banner" %>

<h1>New banner</h1>

<%= render "form", system_admins_banner: @system_admins_banner %>

<br>

<div>
  <%= link_to "Back to banners", system_admins_banners_path %>
</div>
