<div class="system-admin-menu-top-bar">
  <span class="top-bar-item">
    Seja bem-vindo ao Maxximiza SystemAdmin, <strong>Bernardo!</strong>
  </span>
  <span class="top-bar-item">
    <strong>SAIR</strong>
  </span>
</div>