<p style="color: green"><%= notice %></p>

<% content_for :title, "Product tax overrides" %>

<h1>Product tax overrides</h1>

<div id="product_tax_overrides">
  <% @product_tax_overrides.each do |product_tax_override| %>
    <%= render product_tax_override %>
    <p>
      <%= link_to "Show this product tax override", product_tax_override %>
    </p>
  <% end %>
</div>

<%= link_to "New product tax override", new_product_tax_override_path %>
