<% content_for :title, "New product tax override" %>

<h1>New product tax override</h1>

<%= render "form", product_tax_override: @product_tax_override %>

<br>

<div>
  <%= link_to "Back to product tax overrides", product_tax_overrides_path %>
</div>
