<tr class="fields" data-nested-form-target="container">
  <td>
    <%= f.collection_select :input_id, Input.all, :id, :name, include_blank: true, class: "form-select", data: { action: "input->nested-form#updateCost" } %>
  </td>
  <td>
    <%= f.number_field :quantity_for_a_unit, step: "any", class: "composition-quantity form-control", data: { action: "input->nested-form#updateCost" } %>
  </td>
  <td class="cost-display">-</td>
  <td>
    <%= link_to "Remover", "#", class: "remove_input_fields action-button", data: { action: "nested-form#removeField" } %>
  </td>
</tr>