<main class="index-container">
  <h2>Mensagens</h2>

  <ul class="list-container">
    <% @messages.each do |message| %>
      <% read = message.read_by?(current_user_client.client) %>
      <li class="message-item">
        <div>
          <%= link_to message.title, message_path(message), class: (read ? "message-title read" : "message-title unread") %>
          <p class="message-body"><%= truncate(strip_tags(message.body), length: 80) %></p>
        </div>
        <span class="message-status <%= read ? 'read' : 'unread' %>">
          <%= read ? "Lido" : "Não lido" %>
        </span>
      </li>
    <% end %>
  </ul>
</main>