<main class="message-container">
  <h1><%= @message.title %></h1>
  <div class="message-body">
    <%= @message.body.html_safe %>
  </div>

  <%= link_to "Voltar", clients_messages_path, class: "action-button" %>
</main>