<main class="index-container">
  <h2><%= @message.title %></h2>
    <div class="prose">
      <%= raw @message.body %>
    </div>
    <p class="text-sm text-gray-500 mt-4">Enviado em <%= l(@message.created_at, format: :short) %></p>

    <%= link_to "Voltar", clients_messages_path, class: "action-button" %>
</main>