<div id="<%= dom_id fixed_cost %>">
  <p>
    <strong>Descrição:</strong>
    <%= fixed_cost. description %>
  </p>

  <p>
    <strong>Custo mensal:</strong>
    <%= fixed_cost. monthly_cost %>
  </p>

  <p>
    <strong>Tipo de Custo Fixo:</strong>
    <%= fixed_cost. fixed_cost_type %>
  </p>

</div>
