<div class="indicator-box">
    <h3 class="title">Insumos</h3>
    <div class="numbers"><%= @inputs_count %></div>
    <p class="indicator-text">Cadastrados</p>
    <%= link_to "Ver todos", inputs_path, class: "mini-button" %>
</div>