<div class="indicator-box">
    <h3 class="title">Porções</h3>
    <div class="numbers"><%= @product_portions_count %></div>
    <p>Cadastradas</p>
    <%= link_to "Ver todas", product_portions_path, class: "mini-button" %>
</div>