<div class="indicator-box">
    <h3 class="title">Produtos</h3>
    <div class="numbers"><%= @products_count %></div>
    <p>Cadastrados</p>
    <%= link_to "Ver todos", products_path, class: "mini-button" %>
</div>