<div class="indicator-box">
    <h3 class="title">Subprodutos</h3>
    <div class="numbers"><%= @subproducts_count %></div>
    <p>Cadastrados</p>
    <%= link_to "Ver todos", subproducts_path, class: "mini-button" %>
</div>