<main class="logged-system">
  <%= render "form", system_admins_user_client: @user_client, readonly: true %>

  <div>
    <%= link_to "Edit this user client", edit_system_admins_user_client_path(@user_client) %> |
    <%= link_to "Back to user clients", system_admins_user_clients_path %> |
    <%= button_to "Destroy this user client", @user_client, method: :delete, data: { confirm: "Tem certeza?" } %>
  </div>
</main>