<table class="index-table index-table--bordered">
  <thead>
    <tr>
      <th>Canal</th>
      <th>Comissão Canal (%)</th>
      <th>Preço com Comissão (R$)</th>
      <th>Preço Corrigido</th>
      <th>Preço Efetivo (R$)</th>
    </tr>
  </thead>
  <tbody>
    <% channel_rows.each do |cpp| %>
      <%= render "clients/product_portions/channel_product_portion", cpp: cpp %>
    <% end %>
  </tbody>
</table>