<div id="<%= dom_id plan %>">
  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= plan.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= plan.status %>
  </p>

</div>
