<main class="logged-system">
  <h1>Editando Plano</h1>

  <%= render "form", system_admins_plan: @system_admins_plan %>

  <br>
  <%= link_to "Ver Plano", system_admins_plan_path(@system_admins_plan) %> |
  <%= link_to "Voltar para Planos", system_admins_plans_path %>
</main>