<main class="index-container">
  <h1>Nova Função</h1>

  <%= form_with(
        model:   @role,
        url:     clients_services_roles_path,
        method:  :post,
        local:   true
      ) do |form| %>

    <%= render "form", form: form, role: @role %>

    <div class="actions">
      <%= form.submit "Criar Função", class: "standart-button" %>
      <%= link_to "Voltar", clients_services_roles_path, class: "standart-button" %>
    </div>

  <% end %>
</main>