<main class="index-container">
  <% content_for :title, "Editar perfil de Tributos | Maxximiza" %>

  <h1>Editar perfil de tributos</h1>

    <div class="detailed-box">
      <p class="detailed-text">
        <strong>ATENÇÃO!</strong> Este perfil de imposto pode estar em uma ou mais Porções de Produto.
        Veja <a href="#" data-bs-toggle="modal" data-bs-target="#taxAssocModal">AQUI</a> quais porções podem ser comprometidas.
      </p>
    </div>

    <%= render "tax_dependent_items_modal", product_portions: @product_portions %>

  <%= render "form", tax: @tax %>

  <br>

  <div>
    <%= link_to "Ver", @tax, class: "action-button" %> |
    <%= link_to "Voltar", taxes_path, class: "action-button" %>
  </div>
</main>