<p style="color: green"><%= notice %></p>

<% content_for :title, "Maxximiza | Cadastro de Tributos" %>

<h1>Tributos</h1>

<div id="taxes">
  <% @taxes.each do |tax| %>
    <%= render tax %>
    <p>
      <%= link_to "Ver", tax %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Tributo", new_tax_path %>
