<main class="index-container">
  <% content_for :title, "Novo Perfil de Tributos | Maxximiza" %>

  <h1>Novo Perfil de Tributos</h1>

  <%= render "form", tax: @tax %>

  <br>

  <div>
    <%= link_to "Voltar", taxes_path, class: "action-button" %>
  </div>
</main>