/*
 *= require_self
 *= require input_images
 *= require_tree .
 */

 .index_images {
  max-height: 50px;
  width: auto;
  border-radius: 4px;
}

.standart-button {
  background-color: #16160b;
  color: #d3db23;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.standart-button:hover,
.standart-button:focus {
  background-color: #d3db23;
  color: #16160b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.action-button {
  background-color: #16160b;
  color: #d3db23;
  border: none;
  padding: 0.375rem 0.75rem; /* Metade do tamanho */
  font-size: 0.5rem; /* Fonte menor */
  font-weight: bold;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.action-button:hover,
.action-button:focus {
  background-color: #d3db23;
  color: #16160b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}