.custom-label {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 0.750rem;
}

.description {
  color: var(--text-dark);
  font-weight: 200;
  font-size: 0.750rem;
}

.subtitle {
    color: var(--text-dark);
    font-weight: 800;
    font-size: 1rem;
}

.title {
    color: var(--text-dark);
    font-weight: 1000;
    font-size: 1.8rem;
}