.icon-edit {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

/* Ícones de exclusão */
.icon-delete,
.icon-delete-fields {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  display: inline-block;
}

.icon-delete {
  margin-top: 10px;
}

.icon-delete-fields {
  margin-top: 22px;
}

/* Botões de remoção */
.remove-btn,
.remove-btn-fields {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  line-height: 0;
}

/* Hover no ícone */
.remove-btn:hover .icon-delete,
.remove-btn-fields:hover .icon-delete-fields {
  filter: brightness(0.8);
}

.icon-link {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Mensagens */
.icon-link.messages {
  background-image: url("icons/messages-regular.png");
  max-height: 18px;
  margin-top: 2px;
}
.icon-link.messages:hover {
  background-image: url("icons/messages-hover.png");
}

/* Configurações */
.icon-link.settings {
  background-image: url("icons/settings-regular.png");
  max-height: 18px;
  margin-top: 2px;
}
.icon-link.settings:hover {
  background-image: url("icons/settings-hover.png");
}