.nested-fields {
  display: flex;
  align-items: flex-middle;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem; 
  font-weight: 600;
}

.nested-fields .field {
  display: flex;
  flex-direction: column;
}

.nested-fields .remove-btn {
  display: flex;
  align-items: middle;
  padding-bottom: 0px;
  margin-top: 10px;
}

.rule-fields {
  display: flex;
  align-items: flex-middle; 
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem; 
  font-weight: 600;
}

.rule-fields .field {
  display: flex;
  flex-direction: column;
}

.rule-fields.has-error {
  border: 2px solid rgb(218, 36, 36);
  padding: 2px;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: rgb(218, 36, 36);
}

.form-row-inline {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* 4 campos por linhas */
.field-inline {
  display: flex;
  flex-direction: column; /* label acima do input */
  flex: 1; /* todos ocupam larguras iguais */
}

.custom-label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.form-control[readonly] {
  background-color: #f9f9f9;
}

.composition-fields {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.inline-control,
.inline-select {
  background-color: #ffffff;
  border: 1px solid #3a3a32;
  border-radius: 0.2rem;
  color: var(--text-dark);
  font-size: 0.750rem;
  font-family: Raleway, sans-serif;
  font-style: italic;
}

.inline-control:focus,
.inline-select:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.2rem rgba(211, 219, 35, 0.25);
  font-size: 0.750rem;
  font-family: Raleway, sans-serif;
}