.nested-fields {
  display: flex;
  align-items: flex-middle; /* alinha todos pela base */
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.65rem; /* 0.5rem estava muito pequeno */
  font-weight: 600;
}

.nested-fields .field {
  display: flex;
  flex-direction: column;
}

.nested-fields .remove-btn {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0px;
}

.form-row-inline {
  display: flex;
  gap: 1rem; /* espaço entre os campos */
  margin-bottom: 1rem;
}

/* 4 campos por linhas */
.field-inline {
  display: flex;
  flex-direction: column; /* label acima do input */
  flex: 1; /* todos ocupam larguras iguais */
}

.custom-label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.form-control[readonly] {
  background-color: #f9f9f9;
}
