.notice:empty,
.alert:empty {
  display: none;
}

.notice,
.alert {
  margin: 0;
  padding: 0;
}

.notice-bar .info-bar {
  position: fixed;
  font-family: Raleway, sans-serif;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--accent-hover);
  color: white;
  text-align: center;
  padding: 6px 10px;
  font-size: 14px;
  z-index: 9999;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

.alert-bar {
  position: fixed;
  font-family: Raleway, sans-serif;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #dc3545;
  color: white;
  text-align: center;
  padding: 6px 10px;
  font-size: 14px;
  z-index: 9999;
}

.flash-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}