body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-dark);
  font-size: 0.750rem;
}

.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #24241a;
  border-radius: 0.375rem;
  overflow: hidden;
}

.nav-tabs .nav-item {
  flex: 1;
}

.nav-tabs .nav-link {
  display: block;
  text-align: center;
  padding: 0.65rem 0;
  color: var(--accent-color);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.650rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-tabs .nav-link:hover {
  background-color: var(--accent-hover);
  color: var(--text-dark);
}

.nav-tabs .nav-link.active {
  background-color: var(--accent-color);
  color: var(--text-dark);
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% / 4);
  height: 2.5px;
  background-color: var(--accent-hover);
  transition: transform 0.3s ease;
}

.tab-content {
  background-color: var(--bg-color);
  padding: 1.0rem;
  border-radius: 0 0.375rem 0.375rem 0.375rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

/* Formulários e Tabela */
.form-control,
.form-select {
  background-color: #ffffff;
  border: 1px solid #3a3a32;
  border-radius: 0.2rem;
  color: var(--text-dark);
  font-size: 0.650rem;
  font-family: Raleway, sans-serif;
  font-style: italic;
}

.form-control:focus,
.form-select:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 0.2rem rgba(211, 219, 35, 0.25);
  font-size: 0.650rem;
  font-family: Raleway, sans-serif;
}

.table-sm th {
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.table-sm td {
  vertical-align: middle;
}

.select-field td {
  margin: 10px;
  padding: 8px;
}