:root {
  --bg-color: #fffefe;
  --bg-menu-color:       #16160b;
  --accent-color:   #d3db23;
  --accent-hover:     #8f9900;
  --text-light:     #f5f5f5;
  --text-dark:      #16160b;
  --font-family:    "Raleway", sans-serif;
  --dark-stroke-btn: #a7a7a7;
  --hover-action-btn: #16160b;
  --medium-gray: #f0f0f0;
  --notes-gray: #6d6d6d;
  --text-dark-20: rgba(0, 0, 0, 0.39);
} 