<%= form_with(model: brand, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Nome da Marca" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div>
    <%= f.submit class: "standart-button" %>
  </div>
<% end %>