<main class="index-container">
  <% content_for :title, "Editar Categoria" %>

  <h1 class="title">Editar Categoria</h1>

  <%= render "form", category: @category %>

  <br>
  <%= link_to "Mostrar", @category, class: "action-button" %> |
  <%= link_to "Voltar", categories_path, class: "action-button" %>
</main>