<main class="index-container">
  <% content_for :title, "Nova Categoria" %>

  <h1 class="title">Nova Categoria</h1>

  <%= render "form", category: @category %>

  <br>
  <%= link_to "Voltar", categories_path, class: "action-button" %>
</main>