<!-- app/views/products/_input_id.html.erb Template para Input -->
<template id="template-input" data-product-composition-target="template">
  <%= f.fields_for :product_subproducts, ProductSubproduct.new, child_index: "NEW_RECORD" do |ps| %>
    <tr data-controller="composition-row" data-type="input" data-new-record="true">
      <td>
        <%= ps.collection_select :input_id,
                Input.order(:name),
                :id, :name,
                { prompt: "Selecione Input" },
                { class: "form-select",
                    data: { action: "change->product-composition#renderInputFields" } },
                ->(i) { { "data-unit": i.unit_of_measurement } } %>
      </td>
      <td colspan="4">Selecione um input…</td>
    </tr>
  <% end %>
</template>