<!-- app/views/products/_pricing.html.erb -->
<h5>4) Precificação</h5>
<ul class="list-group">
  <% {
    "Custo Total"           => f.object.total_cost,
    "Preço Varejo"          => f.object.suggested_retail_price,
    "Preço Atacado"         => f.object.suggested_wholesale_price,
    "Lucro Bruto Varejo"    => f.object.gross_profit_retail,
    "Lucro Bruto Atacado"   => f.object.gross_profit_wholesale,
    "Lucro Líquido Varejo"  => f.object.net_profit_retail,
    "Lucro Líquido Atacado" => f.object.net_profit_wholesale
  }.each do |label, value| %>
    <li class="list-group-item d-flex justify-content-between">
      <%= label %>
      <strong>R$ <%= number_with_precision(value, precision: 2) %></strong>
    </li>
  <% end %>
</ul>
