<!-- app/views/products/_pricing.html.erb -->
<% product = f.object %>

<section
  data-controller="pricing"
  data-pricing-base-cost-value="<%= product.total_cost %>"
>
<h5 class="subtitle">3) Precificação Básica</h5>

  <hr>
  <div class="form-row-inline">
    <!-- NOVO: Custo total dos subprodutos (sem tributos e sem fixos) -->
    <div class="field-inline">
      <%= label_tag :total_cost,
            "Custo Total (R$)",
            class: "custom-label" %>
      <%= number_field_tag nil,
            product.total_cost.round(2),
            readonly: true,
            step: 0.01,
            class: "form-control",
            data: { pricing_target: "baseCost" } %>
    </div>
  </div>
</section>