<div id="pricing" data-controller="pricing">
  <h3>Precificação</h3>
  <div>
    <strong>Lucro Bruto Atacado (R$):</strong> R$ <span data-target="pricing.grossWholesale">0.00</span>
  </div>
  <div>
    <strong>Lucro Bruto Varejo (R$):</strong> R$ <span data-target="pricing.grossRetail">0.00</span>
  </div>
  <div>
    <strong>Lucro Líquido Varejo (R$):</strong> R$ <span data-target="pricing.netRetail">0.00</span>
  </div>
  <div>
    <strong>Lucro Líquido Atacado (R$):</strong> R$ <span data-target="pricing.netWholesale">0.00</span>
  </div>
  <div>
    <strong>Full Cost (R$):</strong> R$ <span data-target="pricing.fullCost">0.00</span>
  </div>
  <div>
    <strong>Preço Atacado (R$):</strong> R$ <span data-target="pricing.wholesalePrice">0.00</span>
  </div>
  <div>
    <strong>Preço Varejo (R$):</strong> R$ <span data-target="pricing.retailPrice">0.00</span>
  </div>
</div>