<tr data-new-field>
  <td>
    <%= f.collection_select :subproduct_id, Subproduct.all, :id, :name, { include_blank: "Selecione" }, { class: "form-select", data: { action: "product-composition#updateCost", cost_per_gram: "0" } } %>
  </td>
  <td>
    <%= f.number_field :quantity, step: "any", class: "composition-quantity form-control", data: { action: "product-composition#updateCost" } %>
  </td>
  <td class="cost-display">
    R$ <span data-product-composition-target="fieldCost">0.00</span>
  </td>
  <td>
    <%= link_to "Remover", "#", class: "remove_field action-button", data: { action: "product-composition#removeField" } %>
  </td>
</tr>