<!-- app/views/products/_product_composition.html.erb -->
<div data-controller="product-composition">
  <button type="button"
          class="action-button"
          data-action="click->product-composition#addField">
    Adicionar Linha
  </button>
  <br>

  <table>
    <tbody data-product-composition-target="list">
      <%= f.fields_for :product_subproducts do |ps| %>
        <%= render partial: "products/product_composition_fields", locals: { f: ps } %>
      <% end %>
    </tbody>
  </table>

  <template data-product-composition-target="template">
    <%= f.fields_for :product_subproducts, ProductSubproduct.new,
                     child_index: "NEW_RECORD" do |ps| %>
      <%= render partial: "products/product_composition_fields", locals: { f: ps } %>
    <% end %>
  </template>
</div>