<!-- app/views/products/_product_composition.html.erb -->
<h5>3) Composição do Produto</h5>

<table class="table table-sm">
  <thead> … </thead>
  <tbody data-product-composition-target="list">
    <%= f.fields_for :product_subproducts do |ps_form| %>
      <%= render partial: "products/product_composition_fields", locals: { f: ps_form } %>
    <% end %>
  </tbody>
</table>

<%= link_to "Adicionar Linha", "#",
            class: "action-button",
            data: {
              controller: "product-composition",
              action:     "product-composition#addField",
              template:   j( product_composition_fields_template(f) )
            } %>