<!-- app/views/products/_product_composition.html.erb -->
<h5>3) Composição do Produto</h5>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Subproduto</th>
      <th>Quantidade (g)</th>
      <th>Custo (R$)</th>
      <th></th>
    </tr>
  </thead>
  <tbody data-product-composition-target="list">
    <%= f.fields_for :product_subproducts do |ps| %>
      <%= render "product_composition_fields", f: ps %>
    <% end %>
  </tbody>
</table>

<%= link_to "Adicionar Linha", "#",
            class: "action-button",
            data: { action: "product-composition#addField" } %>