<div id="<%= dom_id energy %>">
  <p>
    <strong>Description:</strong>
    <%= energy. description %>
  </p>

  <p>
    <strong>Consume per hour:</strong>
    <%= energy. consume_per_hour %>
  </p>

</div>
