<% content_for :title, "Editing energy" %>

<h1>Editing energy</h1>

<%= render "form", energy: @energy %>

<br>

<div>
  <%= link_to "Show this energy", @energy %> |
  <%= link_to "Back to energies", energies_path %>
</div>
