<p style="color: green"><%= notice %></p>

<% content_for :title, "Energies" %>

<h1>Energies</h1>

<div id="energies">
  <% @energies.each do |energy| %>
    <%= render energy %>
    <p>
      <%= link_to "Show this energy", energy %>
    </p>
  <% end %>
</div>

<%= link_to "New energy", new_energy_path %>
