<div class="modal fade" id="salesTargetAlertModal" tabindex="-1" aria-labelledby="salesTargetAlertLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="salesTargetAlertLabel">Atenção!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" id="salesTargetAlertBody">
        <!-- Conteúdo será inserido via JS -->
      </div>
      <div class="modal-footer">
        <a href="/sales_targets" class="btn btn-primary">Ajustar metas</a>
      </div>
    </div>
  </div>
</div>